/* common code  */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
</style>

* {
    font-family: 'Open Sans', sans-serif;
}
body{
    height: auto;
    width: 1340px;
}
:root {
    --color: #FF5400;
}
/* header start  */
/* header{
    width: 1340px;
    height: auto;
} */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    display: flex;
}
.nav-title img{
    width: 48px;
    height: 48px;
    margin-top: 44px;
    margin-left: 135px

}
.nav-title h3{
    margin-left: 20px;
}
.nav-title span{
    color: var(--color);
}
.nav{
    display: flex;
    margin-right: 127px;
}
.nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #424247;
    font-weight: 400;
    margin-left: 2.8rem;
}
/* main start  */
section{
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 100px;
}
.header{
    background-image: url("./Images/Group 13 (1) (1).png");
    width: 68rem;
    height: 30rem;
    margin-left: 135px;
}
.header-sec h2{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 106px;
}
.header-sec p{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.btn{
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

.btn1{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    
}
.btn1 span{
    margin: 18px;
}
.btn2{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

/* our tour */

.our-tour{
    display: flex;
    margin-top: 100px;
    margin-right: 110px
}
.our-tour h3{
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
}
.our-tour p,ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.our{
    border: 1px solid #fff;
    margin-left: 24px
}
.our h3{
    margin-left: 0;
}
.images-des h3{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.images-des p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.image-all{
    position: relative;
    margin-top: 10px;
}
.image-all .text{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    top: 125px;
    left: 110px;
}

.image-all img{
    width: 100%;
    height: auto;
    margin-left: 15px

}
.all-image{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.why-box{
    width: 573px;
    height: 284px;
}
.why div{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    box-sizing: border-box;
}
.hand{
    margin-left: 241px;
    margin-top: 100px;
    text-align: center;
}
.hand h3{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.why-box img{
    width: 64px;
    height: 64px;
}
.why-box h4{
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}
.why-box p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
.hotel{
    display: flex;
    margin-top: 48px;
    gap: 20px;
    border: none;
}
.best{
    margin-left: 240px;
    margin-top: 24px;
}



/* deal and descounts  */
.nibba h3{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.nibba p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.group-pic{
    background-image: url(./Images/Group\ 39.png);
    width: 68rem;
    height: 30rem
}
.group-pic > div{
    margin-top: 50px;
}
.night{
    width: 450px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: 500px;
    padding: 50px;
    transform: translateY(50px);
}
.day{
    display: flexbox;
}
.day img{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.night p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-right: 75px;
}
.night h5{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.night2{
    background-image: url(./Images/Group\ 40.png);
}
.night21{
    margin-left: 50px;
    transform: translateY(50px)
}
.btn3{
    width: 201px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 45%;
    margin-top: 20px
}

.simple{
    display: flex;
    gap: 30px;
}
.simple h3{
    color: #131318;
    font-size: 2.50rem;
    font-weight: 800;
}
.simple p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.simple ul{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}
.simple-class{
    border-left: 10px;
}
.simple-img{
    width: 100%;
    position: relative;
}
.bangla{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: 125px;
    left: 110px;
}
.bangla .watch{
    justify-content: space-between;
}
/* news section  */
.news{
    display: flex;
    /* justify-content: space-between; */
}
.news11{
    padding: 20px;
}
.news h4{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.news p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.news input{
    width: 393px;
    height: 52px;
    margin-top: 16px;
    border: 1px solid #FF5400;
    border-radius: 10px;
}
.btn4{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 24px;
}
.newsletter{
    position: relative;
}
.newsletter h3{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
}
.newsletter h2{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}
.newsletter_discount {
    border-radius: 16px;
    color: #fff;
    background-color: #FF5400;
    position: absolute;
    transform: rotate(-20deg) translate(426px, -26px) scaleX(1) scaleY(0.75);
    padding: 0 25px;
}
footer{
    width: 1240px;
    height: auto;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-title h3{
    margin-top: 100px;
}
.footer-title{
    display: flex;
    color:#131318;
    font-size: 32px;
    font-weight: 800;
    justify-content: center;
}
.footer-title img{
    width: 48px;
    height: 48px;
    margin-top: 100px;
}
footer p{
    margin-bottom: 35px;
    margin-top: -25px;
}
footer img{
    margin-bottom: 50px;
}
footer h4{
    padding-top: 50px;
    padding-bottom: 100px;
}
/* reponsive media quary  */
@media screen and (max-width: 576px) {
    nav {
        display: block;
    }
   .header {
    width: 450px;
    height: 800px
   }
   .btn{
     display: grid;
     grid-template-columns: 1, 1fr;
   }
}